@import "tailwindcss";

@theme {
  
  /* 核心強調色 */
  --color-tech-blue-400: #00c3ff;
  --color-tech-blue-500: #00ace0;
  --color-tech-blue-600: #008bb5;

  /* 背景色階 */
  --color-dark-bg-950: #0a0a0a;
  --color-dark-bg-900: #141414;
  --color-dark-bg-800: #1f1f1f;
  --color-dark-bg-700: #2d2d2d;

  /* 文字色階 */
  --color-dark-text-100: #ffffff;
  --color-dark-text-300: #d1d5db;
  --color-dark-text-500: #9ca3af;
}

body {
  @apply bg-dark-bg-950 text-dark-text-300;
}

div:where(.swal2-container).swal2-top-end > .swal2-popup, 
div:where(.swal2-container).swal2-top-right > .swal2-popup {
  @apply !bg-dark-bg-800 !text-dark-text-100 !border !border-dark-bg-700;
}